/* Main Items: Mobile */
body{
  font-family: helvetica;
}

/*header q*/
#header{
  color: red;
  font-size: 50px;
  font-weight: bold;
}

p{
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-gap: 0px;
  grid-auto-rows: auto;
  justify-items: stretch;
  align-items: stretch;
  padding: 20px;
}

#header{
  grid-column: 4;
  grid-row: 1;
  text-align: right;
}

#title{
  grid-column: 1/5;
  grid-row: 2;
  text-align: right;
}

.boxrow{
  grid-column: 1/2;
  grid-row: 3;
}

.boxred{
  height: 10px;
  width: 25px;
  background-color: red;
  float: left;
}

.boxgreen{
  height: 10px;
  width: 25px;
  background-color: green;
  float: left;
}

.boxblue{
  height: 10px;
  width: 25px;
  background-color: blue;
  float: left;
}

#date{
  grid-column: 1/3;
  grid-row: 4;
}

small{
  color: blue;
  font-size: 16px;
}

.newfeat{
  /*background-image: linear-gradient(-90deg, #fff, #f4f4f4);
  padding: 10px;*/
  width: 100%;
  height: auto;
  margin-top: -10px;
}

#text{
  grid-column: 1/5;
  grid-row: 5;
}

/*Section B*/

#section-b{
  padding-top: 20px;
}

#section-b ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-content{
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: grey;
}

img{
  width: 100%;
  height: auto;
  margin: 0;
}

video{
  width: 100%;
  height: auto;
  margin: 0;
}

.card{
  margin: 5px;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
  color: grey;
}

h4{
  font-size: 18px;
}

/*links*/
a{
  text-decoration: none;
  color: red;
}

a:hover{
  text-decoration: none;
  color: grey;
}

/* Media Queries */

/* Tablet */
@media(min-width: 320px){

  .wrapper{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 240px));
    grid-gap: 20px;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: stretch;
  }
  .wrapper > div{
    background: #fff;
  }

/* Desktop */
@media(min-width: 720px){
  .wrapper{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 240px));
    grid-gap: 20px;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: stretch;
  }
  .wrapper > div{
    background: #fff;
  }

  #section-b ul{
    grid-column: 1/5;
    display: flex;
    justify-content: space-around;
  }

  p{
    font-size: 16px;
    line-height: 1.5;
  }

  small{
    color: blue;
    font-size: 14px;
  }

  #header{
    font-size: 30px;
  }

  .card-content{
      font-size: 12px;
    }



  /* Large Desktop */
  @media(min-width: 1024px){
    .wrapper{
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 240px));
      grid-gap: 20px;
      grid-auto-rows: auto;
      justify-content: center;
      align-items: stretch;
    }
    .wrapper > div{
      background: #fff;
    }

    #section-b ul{
      grid-column: 1/5;
      display: flex;
      justify-content: space-around;
    }

    p{
      font-size: 16px;
      line-height: 1.5;
    }

    #header{
      font-size: 30px;
    }

    .card-content{
          font-size: 12px;
        }
